#bodyLect{
    overflow: auto;
    height: 100%;
    background-color: white;
    animation-name: loginAnimation;
    animation-duration: .5s;
    &.insertData{
        @media screen {
            display: grid;
            grid-template-columns: 50% 50%;
            overflow: hidden;
        }
    }
    #cards{
        overflow: auto;
        @media print{
            display: none;
        }
        h5{
            text-align: center;
            box-shadow: inset 0 0 1px black;
            margin: 0 4px;
        }
        #sort,#option{
            box-shadow: 0 0 2px black;
            margin: 5px;
            padding: 2px;
        }
        nav{
            box-shadow: 0 0 2px black;
            margin: 5px;
            display: flex;
            svg{
                margin: 3px;
            }
            input{
                flex: 1;
                border: none;
                outline: none;
            }
        }
        .card{
            bottom: auto;
            margin: 5px;
            box-shadow: 0 0 2px black;
            border-radius: 6px 0;
            h3{
                font-size: medium;
                padding: 0;
                margin: 5px;
            }
            #cardOption{
                float: left;
                border-radius: 10px 0 0 0;
                button{
                    background: none;
                    border: none;
                    outline: none;
                    svg,img{
                        margin: 2px;
                        width: 25px;
                        height: 25px;                    
                    }
                    &:hover{
                        background-color: #9e9e9e82;
                    }
                    &:nth-child(2):hover{
                        background-color: #a51414;
                        fill: white;
                    }
                }
            }
        }
    }
    #item{
        @media screen{
            box-shadow: 0 0 2px black;
            margin: 5px;
            padding: 0 4px;
        }
        overflow: auto;
        nav{
            @media print{
                display: none;
            }
            box-shadow: 0 0 2px black;
            margin: 5px 0;
            svg{
                padding: 2px;
                &:hover{
                    fill: #1966ae;
                }
                &:nth-child(2):hover{
                    fill: #a51414;
                }
            }
        }
        #result{
            width: 100%;
            margin: 5px 0;
            input{
                border: none;
                outline: none;
                width: 100%;
            }
            caption{
                box-shadow: inset 0 0 1px black;
                margin: 5px 1px;            
            }
        }
        svg{
            &:hover{
                fill: red;
            }
        }
        .addNew{
            text-align: center;
            cursor: pointer;
            &:hover{
                background-color: #9e9e9e82;
            }
        }
        #persons{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 4px;
            
        }
        .item{
            margin: 4px;
            display: flex;
            label{
                margin: 0 3px;
                width: 90px;
                text-align: center;
            }
            input{
                flex: 1;
                outline: none;
            }
        }
    }
}
