#BodyClient{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    & > div {
        animation-name: loginAnimation;
        animation-duration: .5s;
        h2{
            text-decoration: underline;
        }
        display: grid;
        grid-template-rows: auto 1fr auto;
        background-color: white;
        box-shadow: 0 0 3px black;
        padding: 8px;
        border-radius: 10px;
        height: 70%;
        width: 50%;
        .item{
            display: grid;
            grid-template-columns: auto 1fr;
            margin: 6px;
            label{
                width: 90px;
                text-align: center;
                background-color: #eeeeee;
                padding: 3px;
                border: 1px solid #cccccc;
            }
            input,select{
                padding: 3px;
                border: 1px solid #cccccc;    
                outline: none;    
            }
        }
        button{
            width: 77px;
            padding: 2px;
            float: left;
            margin: 3px 0 0 0;
            font-weight: bold;
        }
    }
}
