<div id="BodyClient">
    <div>
        <h2>الاعدادات</h2>
        <div>
            <div class="item">
                <label for="name">الاسم</label>
                <input type="text" [(ngModel)]="appData.name" placeholder="الاسم">
            </div>
            <div class="item">
                <label for="password">كلمة المرور</label>
                <input type="text" [(ngModel)]="appData.password" placeholder="كلمة المرور">
            </div>
        </div>
        <div class="buttons">
            <hr>
            <button (click)="SaveSeeting()">حفظ</button>
        </div>
    </div>
</div>