div{
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: loginAnimation;
    animation-duration: .5s;
    height: 100%;
    font-size: xxx-large;
    direction: ltr;
    font-weight: bold;
    color: white;
}
